{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>{{blog.title}}</h1>
    <br>
    내용 : 
    {{blog.contents}}
    <br>
    {{blog.likes}}
    <br>
    {% if blog.image %}
    <img src="{{blog.image.url}}" alt="">
    {% endif %}
    <br>
    <a href="{% url 'home' %}">집으로</a>
    <a href="{% url 'edit' blog.id %}">글 수정하기</a>
    <a href="{% url 'delete' blog.id %}">삭제하기</a>
    <br>
    <form action="{% url 'like' blog.id%}">
        <input type="submit" value="좋아요">
    </form>
</body>
</html>
{% endblock %}